.LoginPage {
  background-color: #1a1a2e;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle {
  background-color: #333333;
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px #888888;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
}

.icon-container {
  margin-bottom: 20px;
}
.globe-icon {
  margin-left: 115px;
  width: 30%;
  height: auto;
}
.welcome {
  margin-bottom: 20px;
  margin-left: 18px;
  font-size: 24px;
  color: #eeeeee;
  font-weight: bolder;
}

input[type="email"] {
  background-color: #333333;
  color: #eeeeee;
  padding: 10px;
  border-color: #eeeeee;
  border-radius: 8px;
  margin-bottom: 20px;

  width: 100%;
}
input[type="password"] {
  background-color: #333333;
  color: #eeeeee;
  padding: 10px;
  border-color: #eeeeee;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.next-button {
  padding: 10px 20px;
  background-color: #4269e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bolder;
}
.forgot-password-button {
  background-color: #333333;
  margin-left: 14px;
  cursor: pointer;
  color: #bfbfbf;
  border: none;
}
.modal {
  position: fixed;
  z-index: 1;
  bottom: 250px;
  width: 40%;
  height: 50%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  text-align: center;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.close-button {
  float: right;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}
