.main-page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.content {
  flex:1;
  display: flex;
  align-items: center;
  background-color: #1a191f;
}

.left-part {
  flex: 1;
  padding: 20px;
  color: white;
}
.left-part-conent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.left-part h3 
{
  font-size: 26px;
  color: #c2b04a;
}

.left-part p {
  margin-top: 10%;
  font-size: 18px;
}

.start-button {
  background-color: #e5a102;
  color: #fff;
  margin-top: 10%;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.start-button:hover {
  background-color: #a79839;
}

.right-part {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;

}
.purdue-campus {
  align-self: center;
  margin-top: 5%;
  width: 100%; 
  object-fit: contain; 
}
.contact{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: auto;
}
.clickable-icon {
  cursor: pointer;
  padding-right: 1%;
  padding-left: 1%;
  max-width: 25%;
  max-height: 25%;
  object-fit: contain;
}
