.Navbar {
  background-color: #010101;
  overflow: hidden;
}

.Navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px min(2vw, 14px);
  text-decoration: none;
  font-size: min(3vw, 17px);
}

.Navbar Link {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.Navbar a:hover {
  background-color: #ddd;
  color: black;
}

.Navbar Link:hover {
  background-color: #ddd;
  color: black;
}

.Navbar img {
    width: 45px;
    height: 45px;
    margin-left: 3px;
    margin-bottom: 0px;
    margin-top: 3px;
}

.Navbar b {
  color: #f2f2f2;
  text-align: center;
  padding: 5px 5px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 15px;
}

@media (max-width: 768px) {
  .nav-bar-email {
      display: none;
  }
}

@media (max-width: 600px) {
  .nav-bar-profile-picture {
      display: none;
  }
}
