#streetview-container {
    width:60%;
    height: 50%;
    display: flex;
    position: absolute;
    flex-direction: row;
    margin-left: 150px;
    margin-bottom: 40px;
    margin-top: 90px;
    margin-right: 150px;
}


#map {
    height: 100%;
    width: 100%;
}


#streetViewMap {
    height:100%;
    width:100%;
}