.approval-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #1a191f;
    position: fixed;
}
#approval-image {
    padding: 20px;
    height:50vh;
    width:100vh;
}

#approval-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#no-images {
    padding: 30px;
}