.modalBackground {
    width: 100%;
    height: 100%;
    background-color: #1a191f;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    text-align: center;
}

.body {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 20%;
}

.footer>button {
    background-color: #e5a102;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 3%;
    margin-bottom: 3%;
}