.titlebar-parent {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: #1a191f;
  justify-content: space-between;
}

.title-text {
margin-left: 5vw;
}

.button-group {
margin-right: 1vw;
justify-content: center;
}

.button-group button {
  background-color: #1a191f;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin: 20px 10px 0 10px;
  border: 0px;
}

.button-group button:hover {
background-color: #e5a102;
}


@media all and (orientation:portrait) { 

  .titlebar-parent {
    height: 20vh;
    display: flex;
    flex-direction: column;
  }

  .button-group button {
    margin: 2vw 2vw 0 2vw;
  }
}